*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}
body{
    margin-left: 50px;
    margin-right: 50px;
}
.img1 {
    width: 300px;
}
.img2 {
    width: 500px;
}
.titulo{
    color: purple;
}
.subtitulo {
    color: orange;
}
.obs {
    border: 3px solid orange;
    border-radius: 20px;
}
td, th {
    border: 2px solid;
    font-size: 25px;
}
table {
    border-collapse: collapse;
}
@media (max-width: 768px) {
    *{
        font-size: 20px;
    }
    body {
        margin: 0;
    }
}