* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

img {}

.img1 {
    width: 300px;
}

.img2 {
    width: 500px;
}

.titulo {
    color: purple;
}

.subtitulo {
    color: orange;
}

.obs,
img {
    border: 3px solid orange;
    border-radius: 20px;
}

td,
th {
    border: 2px solid;
    font-size: 25px;
}
.container-table {
    overflow-x: auto;
}
table {
    border-collapse: collapse;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

hr {
    margin-top: 50px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    text-transform: uppercase;
}

img {
    max-width: 95%;
    height: auto;
}

@media (max-width: 768px) {
    * {
        font-size: 20px;
    }

    body {
        margin: 0;
    }

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        text-transform: uppercase;
        flex-direction: column;
    }
    .link2 {
        margin-bottom: 10px;
    }
}