body {
    background-color: white;
    margin: 0;
}

/* CABEÇALHO */

header {
    background-color: rgba(158, 158, 158, 0.76);
    border-bottom: 5px solid black;
}

.topo {
    display: flex;
    justify-content: center;
}

.materias1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}

nav {
    display: flex;
    flex-direction: column;
}

header h1 {
    font-size: 65px;
    text-transform: uppercase;
    color: white;
}

header img {
    width: 150px;
}

.Img1 {
    transform: rotate(45deg);
}

/* MENU */

.materias {
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
}

.b:link,
.b:visited {
    color: white
}

.q:link,
.q:visited {
    color: white
}

.f:link,
.f:visited {
    color: white
}

/* SESSÃO */
.botaolivro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    border: 2px solid;
    border-radius: 30px;
    padding: 5px;
    gap: 0;
    width: fit-content;
    margin: auto;
}

.livro {
    width: 30px;
    padding-left: 10px;
}

.secao {
    margin-top: 20px;
    border-radius: 30px;
    align-items: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.titulo {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 70px;
    text-align: center;
    color: white;
}

.conteudo {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.texto {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.caixa1 {
    margin-right: 10px;
    text-align: center;
}

.estudar1,
.estudar2,
.estudar3 {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.estudar1 {
    background-color: transparent;
}

.estudar2 {
    background-color: transparent;
}

.estudar3 {
    background-color: transparent;
}

.caixa1,
.caixa2 {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 5px;
    flex: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    transition: 0.3s;
}

.caixa1:hover,
.caixa2:hover {
    scale: 1.01;
}

.biologia {
    background-image: url('biologia.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid black;
    background-position-y: center;
}

.quimica {
    background-image: url('quimica.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    border: 5px solid black;
}

.fisica {
    background-image: url('fisica.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    border: 5px solid black;
}

.topicos {
    padding-left: 20px;
}

/* RODAPÉ */
.voltar {
    margin-top: 20px;
    text-align: center;
    background-color: rgba(158, 158, 158, 0.76);
    border: 5px solid lightgray;
    border-radius: 75px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.botaovoltar {
    font-size: 40px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

footer {
    margin-top: 20px;
    text-align: center;
    background-color: grey;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* CONFIURAÇÕES PARA TELA DE CELULAR */

@media (max-width: 768px) {

    header h1 {
        font-size: 35px;
    }

    .materias {
        font-size: 23px;
    }

    header img {
        width: 50px;
    }

    .titulo {
        font-size: 60px;
    }

    .conteudo {
        flex-direction: row;
        align-items: center;
    }

    .texto {
        flex-direction: column;
        align-items: stretch;
    }

    .caixa1 {
        margin-bottom: 25px;
    }

    footer {
        line-height: 20px;
        font-size: 15px;
    }

    .botaovoltar {
        font-size: 25px;
    }
}